@import 'variables';

og-table-row {
	display: contents;
	.table-row {
		.table-cell {
			padding: $padding;
			border-bottom: 1px solid $line-color;
			border-right: 1px solid $line-color;
			text-align: center;
			vertical-align: middle;
			&.name-cell {
				text-align: left;
				.name-container {
					display: flex;
					.material-icons {
						cursor: pointer;
						user-select: none;
					}
				}
			}
		}
		&.table-subrow {
			background-color: $subrow-color;
			.table-cell.name-cell {
				padding-left: $padding * 4;
			}
		}
	}
}
