/* You can add variables to this file, and also import other style files */

$text-color: #1a2128;
$text-color-contrast: #f2f2f2;
$line-color: #e6e6e6;
$bar-color: #3fb9c5;
$header-color: #282838;
$subrow-color: #f5f5f5;

$padding: 10px;
$padding-sm: $padding/2;

$base-spacing-unit: 4px;
